input {
  font-size: 2rem;
  background-color: transparent;
}
.garage {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.parking-place {
  min-width: 150px;
  min-height: 150px;
}

.free {
  background-color: aquamarine;
}
.ordered {
  background-color: rgb(215, 133, 133);
}