input {
  font-size: 2rem;
  background-color: transparent;
}
.garage {
  display: flex;
  flex-wrap: wrap;
}
.parking-place {
  min-width: 150px;
  min-height: 150px;
  margin-bottom: 10px;
}

.free {
  background-color: aquamarine;
}