input {
  font-size: 1.5rem;
  background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
  /* border-bottom: 1px solid #000; */
  padding: 0 20px;
  height: 4rem;
  margin-right: 0.5rem;
}
.garage {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.parking-place {
  min-width: 150px;
  min-height: 150px;
}

.free {
  background-color: aquamarine;
}
.ordered {
  color: #fff
}